<div class="footer-container">
  <div class="link-container">
    <a class="link" href="#">About</a>
    <a class="link" href="#">Help</a>
    <a class="link" href="#">Press</a>
    <a class="link" href="#">API</a>
    <a class="link" href="#">Jobs</a>
    <a class="link" href="#">Privacy</a>
    <a class="link" href="#">Terms</a>
    <br>
    <a class="link" href="#">Locations</a>
    <a class="link" href="#">Language</a>
  </div>
  <div class="copyright">
    <p>© 2022 Instagram from Meta</p>
  </div>
</div>