.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(var(--ig-elevated-separator));
  background-color: rgb(var(--ig-primary-background));
  z-index: 100;
}

nav {
  display: flex;
  align-items: center;
  max-width: 975px;
  padding: 0 20px;
  width: 100%;
}

.left {
  flex: 1 0 127px;
  .logo {
    width: 100px;
    margin-top: 6px;
  }
}

.center {
  flex: 0 1 auto;
}

.right {
  flex: 1 0 127px;
  display: flex;
  justify-content: flex-end;

  a {
    margin-left: 22px;
  }
}

.icon-link-selected {
  display: none;
}

.router-link-active {
  display: block;
}

.icon-link-unselected.router-link-active {
  display: none;
}

.profile-photo-container {
  width: 24px;
  height: 24px;

  img {
    width: 100%;
  }
}