footer {
  background-color: rgb(var(--ig-secondary-background));
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-container {
  padding-bottom: 3.5rem;
}

.top-footer {
  padding-top: 1.5rem;

  .footer-links {
    display: flex;
    justify-content: center;
  }
}

.bottom-footer {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: center;

  p {
    color: rgb(var(--ig-tertiary-text));
    font-size: 0.75rem;
  }
}

.link {
  padding: 0 0.5rem 0.75rem 0.5rem;

  a {
    color: rgb(var(--ig-tertiary-text));
    font-size: 0.75rem;
  }
}