<footer>
  <div class="footer-container">
    <div class="top-footer">
      <div class="footer-links">
        <div class="link">
          <a href="https://about.facebook.com/meta" rel="nofollow noopener noreferrer" target="_blank">Meta</a>
        </div>
        <div class="link">
          <a href="https://about.instagram.com/" rel="nofollow noopener noreferrer" target="_blank">About</a>
        </div>
        <div class="link">
          <a href="https://about.instagram.com/blog/" rel="nofollow noopener noreferrer" target="_blank">Blog</a>
        </div>
        <div class="link">
          <a href="https://www.instagram.com/about/jobs/">Jobs</a>
        </div>
        <div class="link">
          <a href="https://help.instagram.com/" rel="nofollow noopener noreferrer" target="_blank">Help</a>
        </div>
        <div class="link">
          <a href="https://developers.facebook.com/docs/instagram" rel="nofollow noopener noreferrer" target="_blank">API</a>
        </div>
        <div class="link">
          <a href="https://www.instagram.com/legal/privacy/">Privacy</a>
        </div>
        <div class="link">
          <a href="https://www.instagram.com/legal/terms/">Terms</a>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <p>© 2022 Instagram from Meta</p>
    </div>
  </div>
</footer>