@import 'variables';

.post-container {
  display: flex;
  flex-direction: column;
  max-width: 935px;
  margin: 0 auto;
  background-color: rgb(var(--ig-primary-background));
  border: 1px solid rgb(var(--ig-elevated-separator));
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

@media only screen and (min-width: $screen-post-detail) {
  .post-container {
    flex-direction: row;
  }
}

.post-image-container {
  img {
    width: 100%;
  }
}

.content-container {
  background-color: rgb(var(--ig-primary-background));
  width: var(--media-info);
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account-border {
  border-bottom: 1px solid rgb(var(--post-separator));
}

.account-container {
  display: flex;
  align-items: center;
  margin: 8px 4px 8px 12px;

  .photo {
    img {
      width: 32px;
      height: 32px;
    }
  }

  .username {
    margin-left: 12px;

    a {
      color: rgb(var(--ig-primary-text));
    }

    p {
      margin: 0;
      font-size: 0.85rem;
      font-weight: 500;
    }
  }
}

.caption-account-container {
  display: flex;
  flex-direction: column;
  margin: 8px 4px 8px 12px;

  .account {
    display: flex;
    align-items: center;

    .photo {
      img {
        width: 32px;
        height: 32px;
      }
    }

    .username {
      margin-left: 12px;

      a {
        color: rgb(var(--ig-primary-text));
      }

      p {
        margin: 0;
        font-size: 0.85rem;
        font-weight: 500;
      }
    }
  }

  .caption {
    margin-left: 44px;

    p {
      margin: 0;
      font-size: 0.85rem;
    }
  }

  .timestamp {
    margin: 12px 0 12px 44px;

    time {
      font-size: 0.75rem;
      color: rgb(var(--ig-secondary-text));
    }
  }
}

.action-container {
  border-top: 1px solid rgb(var(--post-separator));

  .action-btns {
    display: flex;
    justify-content: space-between;
    padding: 0 4px 6px;

    .left,
    .right {
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 8px;
      }
    }
  }

  .likes-container {
    padding: 0 12px 8px;
    margin-bottom: 4px;

    p {
      margin: 0;
      padding: 0;
      font-size: 0.85rem;
      font-weight: 500;
    }
  }

  .time-container {
    padding: 0 12px 8px;
    margin-bottom: 4px;

    time {
      font-size: 0.65rem;
      color: rgb(var(--ig-secondary-text));
    }
  }
}

.add-comment-container {
  border-top: 1px solid rgb(var(--post-separator));

  form {
    display: flex;
    padding: 12px;

    textarea {
      background: none;
      border: none;
      resize: none;
      color: rgb(var(--ig-primary-text));
      font-size: 0.75rem;
      width: 100%;
    }

    textarea:focus {
      border: none;
      outline: none;
    }

    button {
      border: 0;
      color: rgb(var(--ig-primary-button));
      background-color: transparent;
      font-weight: 600;
    }

    button:disabled,
    button[disabled] {
      opacity: 0.3;
    }

    button:hover {
      cursor: pointer;
    }
  }
}