.post-container {
  background-color: rgb(var(--ig-primary-background));
  border: 1px solid rgb(var(--ig-elevated-separator));
  border-radius: 8px;
  margin-bottom: 12px;
}

.account-container {
  display: flex;
  align-items: center;
  margin: 8px 4px 8px 12px;

  .photo {
    img {
      width: 32px;
      height: 32px;
    }
  }

  .username {
    margin-left: 12px;

    a {
      color: rgb(var(--ig-primary-text));
    }

    p {
      margin: 0;
      font-size: 0.85rem;
      font-weight: 500;
    }
  }
}

.post-photo {
  img {
    width: 100%;
  }
}

.action-btns {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 6px;

  .left,
  .right {
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 8px;
    }
  }
}

.likes-container {
  padding: 0 12px 8px;
  margin-bottom: 4px;

  p {
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
    font-weight: 500;
  }
}

.caption-container {
  padding: 0 12px 8px;
  margin-bottom: 4px;

  p {
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
  }

  .username {
    font-weight: 500;
  }
}

.comments-container {
  padding: 0 12px 8px;
  margin-bottom: 4px;

  p {
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
    color: rgb(var(--ig-secondary-text));
  }
}

.time-container {
  padding: 0 12px 8px;
  margin-bottom: 4px;

  time {
    font-size: 0.65rem;
    color: rgb(var(--ig-secondary-text));
  }
}

.add-comment-container {
  border-top: 1px solid rgb(var(--post-separator));

  form {
    display: flex;
    padding: 12px;

    textarea {
      background: none;
      border: none;
      resize: none;
      color: rgb(var(--ig-primary-text));
      font-size: 0.75rem;
      width: 100%;
    }

    textarea:focus {
      border: none;
      outline: none;
    }

    button {
      border: 0;
      color: rgb(var(--ig-primary-button));
      background-color: transparent;
      font-weight: 600;
    }

    button:disabled,
    button[disabled] {
      opacity: 0.3;
    }

    button:hover {
      cursor: pointer;
    }
  }
}